.about {
    display: grid;
    gap: 20px;
    grid-template: 1fr repeat(3, 200px)/repeat(3, auto);
    grid-auto-rows: 200px;
    align-items: center;
    grid-auto-flow: dense;
}

.about h2 {
    grid-column: span 3;
    margin:7px;
    padding: 5px;
    background-color: rgba(125,100,256,.6);
    border-radius: 10px;
}
.about div:nth-child(4n){
    grid-column-start: 3;
}
.photo {
    height: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.biography{
    grid-column: span 2;
}
@media (max-width: 990px) {
    .about{
        grid-template: 1fr repeat(6, auto)/100%;
        grid-auto-rows: auto;
    }
    .about div:nth-child(4n){
        grid-column-start: 1;
    }
    .biography{
        grid-column: unset;
    }
    .about h2{
        grid-column: unset;
    }
}